.inline{
    display: inline;
    background-color: #f64348;
    margin: 10px 20px;
    padding: 10px 20px;
}

.block{
    display: block;
    background-color: blueviolet;
    margin: 10px 20px;
    padding: 10px 20px;
}

.inline-block{
    display: inline-block;
    background-color: cornflowerblue;
    margin: 40px 20px;
    padding: 10px 20px;
}