*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2c2c2f;
    color: #fff;
    text-align: center;
}

.grid-container{
    max-width: 74rem;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    "header header header header"
    "sidebar conteudo conteudo conteudo"
    "sidebar conteudo conteudo conteudo"
    "footer footer footer footer";
}

.header{
    grid-area: header;
    background-color: #af4c4c;
}

.sidebar{
    grid-area: sidebar;
    background-color: #4a66c3;
}

.content{
    grid-area: conteudo;
    background-color: #fff643;
}

.footer{
    grid-area: footer;
    background-color: #4f9849;
}