*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2b2726;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section{
    background-color: #fafafa;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30%;
    min-width: 40%;
    padding: 2rem;
}

section h1{
    margin: 1.3rem;
    color: #018790;
    text-transform: uppercase;
}

#form{
    display: flex;
    flex-direction: column;
    width: 25rem;
}

#form input{
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: .5rem 1rem;
}

#btn-calculate{
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    padding: .5rem 1rem;
    margin-bottom: 1.3rem;
}

#btn-calculate:hover{
    background-color: #018790;
    color: #fafafa;
}

#averaga-stacks{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#averaga-stacks li{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: .5rem;
    width: 100%;
}

#averaga-stacks li span{
    width: 14rem;
}

#btn-remove{
    color: #fafafa;
    background-color: #e32f21;
    border-radius: 5px;
    cursor: pointer;
    padding: .3rem .5rem;
}

#btn-remove:hover{
    background-color: #e32e21be;
}