*{
    margin: 0;
    padding: 0;
}

h1{
    margin: 20px;
    text-align: center;
}

ul{
    display: flex;
    justify-content: center; /* Alinhamento ao centro no eixo horizontal */
    align-items: center; /* Alinhamento ao centro no eixo vertical */
    flex-wrap: wrap; /* Quebra de linha quando nao ocupa o espaço definido */
}

li{
    background-color: #171518;
    height: 250px;
    width: 400px;
    margin: 30px;
    color: #fff; /* Cursor muda sua aparencia */
    padding: 30px;
    cursor: pointer;
    border: 4px solid #171518;
}

li:hover{ /* Animação quando passa o mouse em cima da caixa */
    background-color: #1c1a1d;
    border: 4px solid #0088d8;
}

p::selection{ /* Texto dentro do paragrafo fica da cor vermelha quando selecionado */
    color: red;
}